.reidars-datatable {
    background: #fff;
    border: 1px solid #D4D6D9;
    border-radius: .5rem .5rem 0 0;
}

.reidars-datatable thead {
    background: #002fa3;
    color: #fff;
    text-transform: uppercase;
}

.reidars-datatable thead th:first-child {
    border-radius: .5rem 0 0 0;
}

.reidars-datatable thead th:last-child {
    border-radius: 0 .5rem 0 0;
}

.reidars-datatable thead th,
.reidars-datatable tfoot th {
    padding: .5rem 1rem;
    text-align: left;
}

.reidars-datatable tbody tr:nth-child(even) {
    background: #f0f0f0;
}

.reidars-datatable tbody td,
.reidars-datatable tbody th,
.reidars-datatable tfoot td {
    padding: .5rem 1rem;
}

.reidars-datatable tbody th {
    text-align: left;
}

.reidars-datatable tbody td,
.reidars-datatable tfoot td {
    text-align: right;
}

.reidars-datatable tfoot th,
.reidars-datatable tfoot td {
    border-top: 1px solid #D4D6D9;
}

.reidars-table-legend {
    font-size: .85rem !important;
    line-height: 1.25em !important;
    margin: 2em 0 !important;
}

.reidars-table-legend-span {
    display: inline-block;
    margin: 0 .5rem .5rem 0;
}